.container {
    padding-inline: 1rem;
    padding-bottom: 1rem;
    min-height: 77.5vh;
}
.container h2 {
    text-align: center;
}

.posts-container {
    padding-inline: 1rem;
}

.posts-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2rem;
}

.post {
    display: flex;
    background: rgb(229, 225, 225);
    margin-bottom: 2rem;
}


.post a {
    display: flex;
    text-decoration: none;
}

.post-desc {
    padding-inline: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.userId{
    text-align: center;
    padding: 1rem;
}

.post-desc > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.post-desc h4 {
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 0;
}

.post-desc span {
    font-size: 0.9rem;
}


.post:hover {
    background: rgb(199, 198, 198);
}

.post-desc button {
    padding: 0.5rem;
    width: 5rem;
    background: steelblue;
    color: white;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    text-align: center;
    border: 0;
    cursor: pointer;
    align-self: center;
}

.post-desc button:hover, .post-desc button:active {
    background: #615e5e;
}



/* Feature box */


.feature-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    padding-inline: 1em;
}




/* Filter  */


.filter-list {
    padding: 0;
    margin: 0;
    display: flex;
}

.filter-item {
    list-style: none;
}

.filter-item a {
    text-decoration: none;
    margin-right: 1rem;
}

.btn {
    text-decoration: none;
    padding: 0.8rem 1rem;
    background: skyblue;
    color: black;
    font-family: inherit;
    font-size: inherit;
}

.btn:hover {
    background: steelblue;
    color: white;
}

.grade {
    background: #fbcd04;
}

.alphabetical {
    background: #06aa06;
}