.container {
    background: orange;
    display: flex;
    justify-content: center;
}

.container a {
    text-decoration: none;
    width: 100%;
    padding: 0.5rem;
}

.container a:first-child {
    text-align: right;
}

.active, .container a:hover, .container a:active {
    background: orangered;
    color: white;
}