.container {
    padding-inline: 1rem;
    padding-bottom: 1rem;
    min-height: 77.5vh;
}
.container h2 {
    text-align: center;
}

.image-box {
    display: flex;
    justify-content: center;
    height: 50vh;
}

.date-box {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.desc-box {
    display: flex;
    justify-content: center;
}

.btn-box {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.btn-box a {
    padding: 0.8rem;
    width: 10rem;
    background: steelblue;
    color: white;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.btn-box a:hover, .btn-box a:active {
    background: skyblue;
    color: black;
}

.btn-box a:not(:last-of-type) {
    margin-right: 1rem;
}
