.container {
    padding-inline: 10rem;
    padding-bottom: 1rem;
    padding-top: 5rem;
    min-height: 84.9vh;
}
.container h2 {
    text-align: center;
    text-transform: capitalize;
}

.sub-container {
    padding-top: 1rem;
}

.sub-container form {
    display: flex;
    padding: 0;
}

.sub-container form input {
    flex-grow: 7;
}

.sub-container form button {
    flex-grow: 1;
}