.container {
    padding-inline: 1rem;
    padding-bottom: 1rem;
    min-height: 77.5vh;
}
.container h2 {
    text-align: center;
}

.sub-container {
    
}

.events-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.event {
    background: rgb(229, 225, 225);
    position: relative;
}

.event:not(:last-child) {
    margin-bottom: 1rem;
}

.event a {
    display: flex;
    text-decoration: none;
}

.button {
    position: absolute;
    bottom: 10%;
    left: 21%;
}

.event a img {
    width: 20%;
}

.event-desc {
    padding-inline: 1rem;
}

.event-desc h4 {
    font-size: 1.2rem;
    text-transform: capitalize;
}

.event-desc span {
    font-size: 0.9rem;
}


.event:hover {
    background: rgb(199, 198, 198);
}